$mobile: 780px;
$tablet: 1024px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}){
        @content;
    }
}

html,
body{
    height: 100%;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Acme';
}

body{
    background: #95e675;
    background: -moz-linear-gradient(45deg, #95e675 0%, #17b978 100%);
    background: -webkit-linear-gradient(45deg, #95e675 0%, #17b978 100%);
    background: linear-gradient(45deg, #95e675 0%, #17b978 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95e675', endColorstr='#17b978',GradientType=1 );
    nav{
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: #95e675;
        .logo{
            letter-spacing: 4px;
            font-size: 20px;
        }
        .nav-links{
            display: flex;
            justify-content: space-around;
            width: 30vw;
            list-style: none;
            a{
                text-decoration: none;
                letter-spacing: 2px;
                font-weight: bold;
                font-size: 14px;
                color: #000;
            }
        }
        .burger{
            display: none;
            .line{
                width: 25px;
                height: 3px;
                background-color: #000;
                margin: 5px;
            }
        }
    }

    @include tablet{
        color: rebeccapurple;
        nav .nav-links{
            width: 40vw;
        }
    }

    @include mobile{
        body{
            overflow-x: hidden;
        }
        nav .nav-links{
            position: fixed;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background-color: #95e675;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);

            li {
                opacity: 0;
            }
        }
        nav .burger{
            display: block;
            cursor: pointer;
        }

        nav .nav-active{
            transform: translateX(0);
        }
    }
}