@import url('https://fonts.googleapis.com/css?family=Acme:400,700');

body{
    font-family: 'Acme';
    margin: 0;
    background: #95e675; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #95e675 0%, #17b978 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #95e675 0%,#17b978 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #95e675 0%,#17b978 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95e675', endColorstr='#17b978',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
header{
    background: #95e675;
    display: flex;
    justify-content: space-between;
    p{
        margin: 32px;
        margin-left: 50px;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }
    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        li{
            background-color: #17b978;
            margin: 8px;
            margin-right: 20px;
            padding-left: 36px;
            padding-right: 36px;
            font-size: 36px;
            a{
                text-decoration: none;
                color: white;
                font-weight: bold;
            }
        }
    }
}