html,
body {
  height: 100%; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Acme'; }

body {
  background: #95e675;
  background: -moz-linear-gradient(45deg, #95e675 0%, #17b978 100%);
  background: -webkit-linear-gradient(45deg, #95e675 0%, #17b978 100%);
  background: linear-gradient(45deg, #95e675 0%, #17b978 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95e675', endColorstr='#17b978',GradientType=1 );
  overflow-x: hidden;
  background-attachment: fixed; }
