$screens: (
    desktop: 768px 
);

$colors: (
    primary: #95e675,
    secondary: #17b978,
    text: #000,
    light-primary: rgba(178, 231, 157, 0.45),
    footer: #589D3C,
    card-content: #53A1A8,
    card-contrast: #086972,
    text-white: whitesmoke,
    drop-shadow: rgba(8, 105, 114, 0.6)
);