.navigation {
    color: #fff;
    display: grid;
    grid-template-columns: auto 40px;
    padding: 2em;

    @import 'home-user';

    img {
        width: 40px;
        cursor: pointer;

        @include desktop {
            display: none;
        }
    }

    

    @import 'home-nav-links';

    @include desktop {
        background: #DCE1F6;
        grid-template-columns: auto;
        grid-template-rows: 20% auto;
        padding: 0;
    }
}