.links {
    background: #fff;

    .active {
        position: absolute;
        display: block;
        background: color(secondary);
        width: 50%;
        left: 0;
        top: 0;
        height: 100%;
    }

    ul {
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: .8em;
            display: block;
            padding: 1.5em 3em;
            background-color: color(light-primary);
            color: color(text);
        }
        
        a:hover {
            background-color: color(card-content);
        }

        @include desktop {
            display: block;
            position: relative !important;
            background: none !important;
            width: 100% !important;
            text-align: center;

        }
    }

    @include desktop {
        width: 100%;
    }
}