html,
body {
  height: 100%; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Acme'; }

body {
  background: #95e675;
  background: -moz-linear-gradient(45deg, #95e675 0%, #17b978 100%);
  background: -webkit-linear-gradient(45deg, #95e675 0%, #17b978 100%);
  background: linear-gradient(45deg, #95e675 0%, #17b978 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95e675', endColorstr='#17b978',GradientType=1 );
  overflow-x: hidden;
  background-attachment: fixed; }
  @media (min-width: 768px) {
    body {
      display: flex;
      width: 100%;
      padding: 2em; } }

.navigation {
  color: #000;
  display: flex;
  justify-content: space-around;
  padding: 2em; }
  .navigation .user {
    margin: 0px; }
    .navigation .user .username {
      font-size: 1.3em;
      font-weight: bold; }
      @media (min-width: 768px) {
        .navigation .user .username {
          text-align: center;
          color: #000; } }
    @media (min-width: 768px) {
      .navigation .user .avatar {
        border-radius: 50%;
        background: #95e675;
        width: 50px;
        height: 50px;
        margin: 2em auto 1em auto; } }
  .navigation img {
    width: 40px;
    cursor: pointer; }
    @media (min-width: 768px) {
      .navigation img {
        display: none; } }
  .navigation .links {
    background: #fff; }
    .navigation .links .active {
      position: absolute;
      display: block;
      background: #17b978;
      width: 50%;
      left: 0;
      top: 0;
      height: 100%; }
    .navigation .links ul {
      display: none;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .navigation .links ul a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8em;
        display: block;
        padding: 1.5em 3em;
        background-color: rgba(178, 231, 157, 0.45);
        color: #000; }
      .navigation .links ul a:hover {
        background-color: #53A1A8; }
      @media (min-width: 768px) {
        .navigation .links ul {
          display: block;
          position: relative !important;
          background: none !important;
          width: 100% !important;
          text-align: center; } }
    @media (min-width: 768px) {
      .navigation .links {
        width: 100%; } }
  @media (min-width: 768px) {
    .navigation {
      width: 20%;
      background: #17b978;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0; } }

.main-section {
  background: rgba(178, 231, 157, 0.45);
  padding: 1em 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main-section .training-cards {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .main-section .training-cards {
        flex-direction: row;
        justify-content: center; } }
  @media (min-width: 768px) {
    .main-section {
      padding: 4em;
      background: rgba(178, 231, 157, 0.45);
      background-size: 70%;
      width: 100%; } }
