body{
    background: color(primary);
    background: -moz-linear-gradient(45deg, color(primary) 0%, color(secondary) 100%);
    background: -webkit-linear-gradient(45deg, color(primary) 0%, color(secondary) 100%);
    background: linear-gradient(45deg, color(primary) 0%, color(secondary) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95e675', endColorstr='#17b978',GradientType=1 );
    overflow-x: hidden;  
    background-attachment: fixed;
}