.info-board {
    background-image: url("../../images/th.jpeg");
    height: 92vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .information {
        background-color: color(light-primary);
        width: 50vw;
        line-height: 25px;
        padding: 5vh;

        h2 {
            font-size: 40px;
            text-align: center;
            margin: 30px;
        }

        p {
            margin: 30px;
            line-height: 5h;
            font-size: 20px;
            text-align: center;
        }

        @include mobile {
            width: 80vw;
            line-height: 5vw;

            h2 {
                font-size: 30px;
                margin: 20px;
            }

            p {
                font-size: 4vw;
                margin: auto;
            }
        }
    }
}