.registration-form {
    background-color: color(text);
    height: 70vh;
    display: flex;
    justify-content: space-around;

    .sign-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: color(text-white);

        .sign-in {
            text-align: center;
            font-size: 7vw;
            margin: 40px;

            @include mobile {
                margin: auto;
            }
        }

        .journey-text {
            text-align: center;
            width: 40vw;
            font-size: 24px;
            margin: 1vw;

            @include tablet {
                width: 50vw;
            }

            @include mobile {
                width: auto;
                margin: auto;
            }
        }
    }

    @include mobile {
        flex-direction: column;
        align-items: center;

    }

    @import 'form-fields';
}