ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin-bottom: 10px;

        strong {
            display: inline-block;
            margin-left: auto;
            margin-top: 10px;
            font-size: 4vw;
            width: auto;

            @include desktop {
                font-size: 2vw;
            }
        }
    }
}